@media all and (min-width: 480px) {
    .Login {
        padding: 60px 0;
    }

    .Login form {
        margin: 0 auto;
        max-width: 320px;
    }

    .social_login {
        width: 410px;
        margin: 0 auto;
    }
    .social_login .login_wrapper {
        float: left;
        width: 200px;
    }
    .social_login .login_wrapper:first-child {
    	margin-right: 10px;
    }
    .social_login .login_wrapper button {
        font-family: Open Sans !important;
        padding: 5px !important;
        line-height: 40px !important;
        text-transform: none !important;
        font-size: 14px !important;
        width: 200px !important;
        font-weight: 700 !important;
    }
}